---
import '@fontsource/manrope';
---
<html lang="en-CA">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Li Feng Yin</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
    body {
        font-family: "Manrope", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
    }
</style>